<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
    <button class="dl-trigger">打开菜单</button>
    <ul class="dl-menu">
        <li><a href="{{ site.url }}/">首页</a></li>
        <li>
            <a href="#">oanda工具</a>
            <ul class="dl-submenu">
                <li><a href="{{ site.url }}/OandaHistoryPosition/">货币历史持仓</a></li>
                <li><a href="{{ site.url }}/OandaCurrencyStrength/">货币相对强度</a></li>
                <li><a href="{{ site.url }}/OandaOrderBook/">外汇订单簿</a></li>
                <li><a href="{{ site.url }}/OandaPositionRatio/">持仓比例</a></li>
                <li><a href="{{ site.url }}/OandaMarketHour/">市场时间</a></li>
                <li><a href="{{ site.url }}/OandaCotData/">期货持仓报告</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Myfxbook工具</a>
            <ul class="dl-submenu">
                <li><a href="{{ site.url }}/MyfxWidgets/">仪表盘</a></li>
                <li><a href="{{ site.url }}/MyfxVolatility/">货币波动性</a></li>
                <li><a href="{{ site.url }}/MyfxLiquidity/">货币流动性</a></li>
                <li><a href="{{ site.url }}/MyfxOutlook/">社区展望</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/DukascopyTool/">Dukascopy工具</a></li>


        {% for link in site.data.navigation %}
        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
        {% endif %}
        <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{
            link.title }}</a></li>
        {% endfor %}
    </ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
